.btn-primary {
  color: $white;
  background-color: $main-blue;
  border: 2px solid $main-blue;
}
.btn-primary:hover {
  color: $main-blue;
  background-color: rgba(255, 255, 255, 0);
  border-color: $main-blue;
}
.btn-primary:focus, .btn-primary.focus {
  color: $main-blue;
  background-color: rgba(255, 255, 255, 0);
  border-color: $main-blue;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: $white;
  background-color: $main-blue;
  border-color: $main-blue;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: $white;
  background-color: $main-blue;
  border-color: $main-blue;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}


.btn-outline-primary {
  color: $main-blue;
  border-color: $main-blue;
}
.btn-outline-primary:hover {
  color: $white;
  background-color: $main-blue;
  border-color: $main-blue;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $main-blue;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: $white;
  background-color: $main-blue;
  border-color: $main-blue;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
