@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap");
::placeholder {
  color: #666666;
  font-size: 0.875rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.625rem;
  letter-spacing: 1px;
  color: #666666;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2.75rem;
  color: #3366cc;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #3366cc;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: #3366cc;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #666666;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #666666;
}

.jumbotron {
  background-image: url("../img/foto-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 600px;
}

.SectionHeader__slogan {
  color: #666666;
  width: 70%;
}

.HeaderPrograma {
  background-image: url("../img/program-camino-guerrero-xl2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 5rem;
  height: 650px;
}

.SectionPrograma__epigraph {
  font-style: italic;
  line-height: 1.7;
}

@media (max-width: 576px) {
  .SectionHeader__logo {
    width: 74%;
  }

  h1 {
    font-size: 1.125rem;
    line-height: 1.6;
  }

  .SectionHeader__slogan {
    margin-top: 2rem;
  }
}
.nobull {
  list-style-type: none;
}

@media (max-width: 576px) {
  ul {
    font-size: 0.875rem;
    line-height: 1.6;
  }
}
.btn-primary {
  color: #ffffff;
  background-color: #3366cc;
  border-color: #3366cc;
  border-style: solid;
  border-width: 2px;
}

.btn-primary:hover {
  color: #3366cc;
  background-color: rgba(255, 255, 255, 0);
  border-color: #3366cc;
}

.btn-primary:focus, .btn-primary.focus {
  color: #3366cc;
  background-color: rgba(255, 255, 255, 0);
  border-color: #3366cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #ffffff;
  background-color: #3366cc;
  border-color: #3366cc;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #3366cc;
  border-color: #3366cc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-outline-primary {
  color: #3366cc;
  border-color: #3366cc;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #3366cc;
  border-color: #3366cc;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #3366cc;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #3366cc;
  border-color: #3366cc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.SectionTop {
  background-color: #2952a3;
}

.navbar {
  margin-top: 2rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-20 18:4:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.fade-in-top {
  -webkit-animation: fade-in-top 1.5s ease-in-out both;
  animation: fade-in-top 1.5s ease-in-out both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.SectionContact {
  background-image: url("../img/background-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
  margin-top: 5rem;
}

.sectionProgramas {
  background-color: #f6f6f6;
}

.SectionPrograma__item {
  margin-left: 1rem;
}

.Section-GotoBlog {
  color: #666666;
}

.Section-Blog__title {
  padding-top: 10rem;
}

.sectionCustomers__title-xxxl {
  padding-top: 10rem;
}

/*# sourceMappingURL=main.css.map */
