// Estilos de Header

.jumbotron {
  background-image: url('../img/foto-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 600px;
}

.slogan {
  color: $dark-gray;
  width: 70%;
}

@media (max-width: 576px) {
  .header__logo {
    width: 74%;
   }
  h1 {
    font-size: $large;
    line-height: 1.6;
  }
  .slogan {
    margin-top: 2rem;
  }
}
