// Estilos de Header en página Inicio
.headerInicio {
  &____slogan {
    color: $dark-gray;
    width: 70%;
  }
  &__jumbotron {
    background-image: url('../img/foto-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    height: 600px;
  }
}

// Estilos de Header en página Programas
.headerProgramas {
  background-image: url('../img/program-camino-guerrero-xl2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 5rem;
  height: 650px;
}


@media (max-width: 576px) {
  .SectionHeader__logo {
    width: 74%;
   }
  h1 {
    font-size: $large;
    line-height: 1.6;
  }
  .SectionHeader__slogan {
    margin-top: 2rem;
  }
}
