// Estilos pagina Inicio

.sectionInfo {
  background-color: $strong-blue;
}

.contact {
  background-image: url('../img/background-form.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
  margin-top: 5rem;
}

.sectionProgramas {
  background-color: $ultralight-gray;
}
